* {
  box-sizing: border-box;
}

body {
  background: #92bde7;
  color: #485e74;
  line-height: 1.6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}

.brand {
  text-align: center;
}

.brand span {
  color: #fff;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.company-info {
  background: #c9e6ff;
}

.company-info h3,
.company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact {
  background: #f9feff;
}

/* FORM STYLES */
.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  border: 1px solid #c9e6ff;
}

.contact form button {
  background: #c9e6ff;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #92bde7;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}
.brand {
  text-align: center;
}
/* SESSION CARDS */
.sessions {
  width: 50%;
  margin: 0 auto;
}
.session-container {
  margin-bottom: 20px;
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  background-color: #c9e6ff;
}
.visitor-container {
  display: flex;
  justify-content: space-around;
}
.visit-timing {
  margin-top: 5px;
}
.visitor-details > div > p,
.visit-timing > p,
.host-details > div > p {
  margin-top: -16px;
}

.visitor-details > div > h4,
.visit-timing > h4,
.host-details > div > h4 {
  margin-top: -1px;
}

.end-button {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px 15px;
  border: 1px solid rgb(87, 87, 87);
  background-color: #92bde7;
  color: rgb(66, 65, 65);
  font-size: 20px;
}
.end-button:hover {
  cursor: pointer;
}
.end-section {
  text-align: center;
}

/* NAVIGATION */
.navigation {
  display: flex;
  justify-content: space-between;
}
.navigation-button {
  display: flex;
  align-self: center;
}
.navigation-button div:not(:last-child) {
  padding-right: 20px;
}
.navigation-button div button,
.goback-button {
  border: 1px solid rgb(87, 87, 87);
  padding: 10px 20px;
  font-size: 20px;
  background-color: #c9e6ff;
  color: rgb(66, 65, 65);
}
.goback-button {
  margin-bottom: 10px;
}
.navigation-button div button:hover,
.goback-button:hover {
  cursor: pointer;
}

/* LARGE SCREENS */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .wrapper > * {
    padding: 2em;
  }

  .company-info h3,
  .company-info ul,
  .brand {
    text-align: left;
  }
}
/* SMALL SCREENS */
@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .visitor-container {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sessions {
    width: 80%;
  }
}
